/*
# Copyright 2020 Adi Hezral (hezral@gmail.com) (https://github.com/hezral)
#
# This file is part of QuickWord ("Application").
#
# The Application is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# The Application is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this Application.  If not, see <http://www.gnu.org/licenses/>.
*/

/* -- colors -- */
/* ------------------------------ */
@define-color shaded_dark shade(@theme_base_color, 0.95);
@define-color shaded_darker shade(@theme_base_color, 0.85);
@define-color shaded_base shade(@theme_base_color, 0.98);
@define-color popup shade(@theme_base_color, 0.98);

/* ------------------------------ */


/* -- headerbar -- */
/* ------------------------------ */
.lookup-word-header {
    font-size: larger;
    font-weight: bold;
}

/* -- stack -- */
/* ------------------------------ */
stack {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}


/* -- settings-view -- */
/* ------------------------------ */
label#settings-group-label {
    font-weight: bold;
    opacity: 0.75;
}

frame#settings-group-frame {
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.3);
    background-color: @shaded_dark;
}

.settings-sub-label {
    font-size: 0.9em;
    color: gray;
}

/* -- quickword icon animation -- */
/* ------------------------------ */
.quickword-icon-left {
    animation: floating 1.5s ease-in-out infinite;
}

@keyframes float-down {
    25% {-gtk-icon-transform: translateY(0px);}
    75% {-gtk-icon-transform: translateY(-5px);}
    100% {-gtk-icon-transform: translateX(0px);}
}

.quickword-icon-right {
    animation: floating 1.25s ease-in-out infinite;
}

@keyframes floating {
    25% {-gtk-icon-transform: translateY(0px);}
    75% {-gtk-icon-transform: translateY(3px);}
    100% {-gtk-icon-transform: translateY(0px);}
}

@keyframes floating-two {
    from {
        -gtk-icon-transform: translateY(60px);
    }
    25% {-gtk-icon-transform: translateY(60px);}
    75% {-gtk-icon-transform: translateY(65px);}
    100% {-gtk-icon-transform: translateY(60px);}	
}

.download-icon-start {
    -gtk-icon-transform: translateY(60px);
    transition: -gtk-icon-transform 1.25s;
    animation: floating-two 1.25s ease-in-out infinite;

}

/* -- word-view -- */
/* ------------------------------ */
.word-types-left {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
    border-right-color: rgba(0,0,0,0.05);
}

.word-types-right {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 6px;
    border-left-color: rgba(0,0,0,0.05);
}

.word-types {
    border-top-color: rgba(0,0,0,0.1);
    border-bottom-color: rgba(0,0,0,0);
    border-left-color: rgba(0,0,0,0);
    border-right-color: rgba(0,0,0,0);
    color: alpha(@theme_text_color, 0.6);
}

.word-types:checked {
    font-weight: bold;
    color: alpha(@theme_text_color, 1);
}

.copied-content, .copy-img {
    font-size: 0.9em;
    color: white;
    background-color: rgba(24, 24, 24, 0.75);
    border-style: solid;
    padding: 4px;
    border-radius: 4px;
}

.word-hover {
    color: @accent_color_500;
}

.word-examples {
    font-style: italic;
    color: gray;
}

.word-examples-hover {
    font-style: italic;
    color: alpha(@accent_color_500, 0.75);
}

.word-lemmas {
    opacity: 0.7;
    font-size: 0.9em;
    border-style: solid;
    border-width: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
}

.word-lemmas:hover {
    opacity: 1.0;
}

.word-lemmas:focus {
    box-shadow: none;
}

.more-results {
    color: gray;
    font-size: 0.9em;
}

/* -- transition effects -- */
/* ------------------------------ */
.transition-on:dir(ltr) {
    opacity: 0;
    transition: all 100ms ease-in-out; 
}

.transition-on:hover {
    opacity: 1;
    transition: all 250ms ease-in-out; 
}


/* -- no-word-view -- */
/* ------------------------------ */
.no-word-view > entry > image.right {
    padding-right: 4px;
}

.no-word-view > entry {
    font-size: large;
}

scrolledwindow > undershoot.top {
    background-blend-mode: normal;
    background-clip: border-box;
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(@theme_bg_color 0, alpha(@theme_bg_color, 0) 50%);
    background-origin: padding-box;
    background-position: left top;
    background-repeat: repeat;
    background-size: auto;
}

scrolledwindow > undershoot.bottom {
    background-blend-mode: normal;
    background-clip: border-box;
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(alpha(@theme_bg_color, 0) 50%, @theme_bg_color 100%);
    background-origin: padding-box;
    background-position: left top;
    background-repeat: repeat;
    background-size: auto;
}

button#speak:hover {
    color: @accent_color_500;
}
