@define-color shaded_dark shade(@theme_base_color, 0.87);
@define-color shaded_darker shade(@theme_base_color, 0.85);
@define-color shaded_base shade(@theme_base_color, 0.98);

.lookup-word-header {
    letter-spacing: 1px;
    font-size: large;
    font-weight: bold;
}

headerbar {
    padding-left: 16px;
    padding-right: 12px;
    padding-top: 4px;
}

headerbar > label:backdrop {
    color: gray;
}

.section-header {
    font-weight: bold;
}
    
.section-sub-header {
    font-style: italic;
    color: gray;
    font-size: 0.9em;
}

.stack-settings, .headerbar-settings {
    background-color: @shaded_dark;
}

.settings-frame {
    background-color: @shaded_darker;
    border-radius: 4px;
}

stack {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.word-view:backdrop {
    color: gray;
    }
    
.settings-view:backdrop, .settings-frame:backdrop {
    color: gray;
}

.sub-label {
    font-style: italic;
    font-size: 0.9em;
    color: gray;
}


.about-icon-left {
    animation: float-left 1.5s ease-in-out infinite;
}

@keyframes float-left {
    25% {-gtk-icon-transform: translateX(0px);}
    75% {-gtk-icon-transform: translateX(-5px);}
    100% {-gtk-icon-transform: translateX(0px);}
}

.about-icon-right {
    animation: float-right 1.25s ease-in-out infinite;
}

@keyframes float-right {
    25% {-gtk-icon-transform: translateY(0px);}
    75% {-gtk-icon-transform: translateY(3px);}
    100% {-gtk-icon-transform: translateY(0px);}
}

.copy-content {
    font-size: 0.9em;
}

.copied-content {
    font-size: 0.9em;
    color: gray;
}





.copy-content:dir(ltr) {
    opacity: 0;
}

.copied-content:dir(ltr) {
    opacity: 0;
}

.copy-content:backdrop {
    opacity: 1;
    transition: all 250ms ease-in-out; 
}

.copied-content:backdrop {
    opacity: 1;
    transition: all 250ms ease-in-out; 
}


.no-word-view > entry > image.right {
    padding-right: 4px;
}