[Desktop Entry]
Name=QuickWord
GenericName=QuickWord
Comment=Quick and easy word lookups
Categories=Utility;
Exec=com.github.hezral.quickword
Icon=com.github.hezral.quickword
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.hezral.quickword
Keywords=Python;
